<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>BlancNote</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/pygment_trac.css') }}">
    
</head>
<body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ url_for("index") }}">Pankaj Ghosh</a></h1>
        <p>Curioser and curioser..</p>
        <ul>
          <li><a href="http://www.blancnote.com">Missing <strong>Link</strong></a></li>
          <li><a href="https://twitter.com/Rabbitholing">Follow me on <strong>Twitter</strong></a></li>
          <li><a href="https://github.com/pankajghosh">My code on <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
{% block content %}
    <p>Default content to be displayed</p>
{% endblock content %}
      </section>
      <footer>
        <p><small>Hosted on S3, Built using Flask, MathJax, yUML</small></p>
        <p><small>Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ url_for('static', filename='javascripts/scale.fix.js') }}"></script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'pankajghosh'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>    
</body>
</html>