<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>BlancNote</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/pygment_trac.css') }}">
    
</head>
<body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ url_for("index") }}">Pankaj Ghosh</a></h1>
        <p>Curioser and curioser..</p>
        <ul>
          <li><a href="http://www.blancnote.com">Missing <strong>Link</strong></a></li>
          <li><a href="https://twitter.com/Rabbitholing">Follow me on <strong>Twitter</strong></a></li>
          <li><a href="https://github.com/pankajghosh">My code on <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
{% block content %}
    <p>Default content to be displayed</p>
{% endblock content %}
  <!--<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'pankajghosh'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>   
    </div>
    
    -->
      </section>
      <footer>
        <p><small>Hosted on S3<br /> Created with Flask, MathJax, yUML<br />
        Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    <script src="{{ url_for('static', filename='javascripts/scale.fix.js') }}"></script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</body>
</html>